/* Base styles and CSS variables */
/* Base Theme for Light Mode */
:root {
  --primary-blue: #00A9E0; /* Sky Blue */
  /* --primary-blue:  #007bff; */
  --secondary-blue: #57C5D6; /* Light Blue */
  --dark-blue: #1A5C6D; /* Deep Sky Blue */
  --success-green: #00C500; /* Success Color */
  --error-red: #F70000; /* Error Color */
  --warning-yellow: #F7B600; /* Warning Color */
  --neutral-gray: #B0B0B0; /* Neutral Gray */
  --background-light: #F0F0F0; /* Light Background */
  --text-dark: #01013D; /* Dark Text */
  --text-light: #F8F8F8; /* Light Text */
}

/* Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #0A3C56; /* Night Sky */
    --secondary-blue: #1C4C70; /* Moonlit Blue */
    --dark-blue: #0E2A39; /* Midnight Blue */
    --success-green: #00D100; /* Success Color */
    --error-red: #F70000; /* Error Color */
    --warning-yellow: #F7B600; /* Warning Color */
    --neutral-gray: #A0A0A0; /* Neutral Gray */
    --background-dark: #101C27; /* Dark Background */
    --text-dark: #F0F0F0; /* Light Text for Dark Mode */
    --text-light: #01013D; /* Dark Text for Light Background */
  }
}

/* Typography */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
}

/* Typography classes */
.title-large {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
}

.title-section {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
}

.title-sub {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.body-large {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.body-medium {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.body-small {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.caption {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.footnote {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
} 